<div class="row justify-content-center">
  <div  [ngClass]="bootstrapClass">
    <div class="card-header">
    <input *ngIf="!isUpdateMode" type="text" class="form-control m-1" placeholder="Title" name="title" [(ngModel)]="newGame.title"/>
    <input *ngIf="!isUpdateMode" type="text" class="form-control m-1" placeholder="Genre" name="genre" [(ngModel)]="newGame.genre"/>
    <input *ngIf="!isUpdateMode" type="number" class="form-control m-1" placeholder="Price" name="price" [(ngModel)]="newGame.price"/>
    <input *ngIf="!isUpdateMode" type="date" class="form-control m-1" name="date" [(ngModel)]="newGame.releaseDate"/>
    <input *ngIf="isUpdateMode" type="text" class="form-control m-1" value={{updateGame.title}} name="title" [(ngModel)]="updateGame.title">
    <input *ngIf="isUpdateMode" type="text" class="form-control m-1" value={{updateGame.genre}}  name="genre" [(ngModel)]="updateGame.genre"/>
    <input *ngIf="isUpdateMode" type="number" class="form-control m-1" value={{updateGame.price}}  name="price" [(ngModel)]="updateGame.price"/>
    <input *ngIf="isUpdateMode" type="date" class="form-control m-1" value={{updateGame.releaseDate}} name="date" [(ngModel)]="updateGame.releaseDate"/>
    <button *ngIf="!isUpdateMode" class="btn btn-success m-1" (click)="add()">Add</button>
    <span *ngIf="isErrorMode" class="m-2 text-danger">Game is already in db!</span>
    <button *ngIf="isUpdateMode" class="btn btn-warning m-1" (click)="update(updateGame.id, updateGame)">Update</button>
    <button *ngIf="isUpdateMode" class="btn btn-secondary m-1" (click)="isUpdateMode = false">Cancel</button>
  </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="table table-bordered table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games">
            <td>{{game.id}}</td>
            <td>{{game.title}}</td>
            <td>{{game.genre}}</td>
            <td>${{game.price}}</td>
            <td>{{game.releaseDate | date:'yyyy-MM-dd'}}</td>
            <td><button class="btn btn-danger ms-4" (click)="delete(game.id)">Delete</button>
                <button class="btn btn-warning ms-2" (click)="isUpdateModeEnabled(game.id)">Update</button>
            </td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary col-3" (click)="loadGames()">Refresh</button>
</div>

